@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/* @import url('https://fonts.googleapis.com/css?family=Lato:100'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*, ::before, ::after{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --color-fond: #222a35 !important;
    --logo: #eee;
    --green: #24aa60;
    --grey-title: #727272;
}

/* ////////////////////////////////////////////// NAV /////////////////////////////////////////////////// */

.opaque-navbar {
    background-color: #222a35 !important;
    height: 55px;
    transition: background-color .5s ease 0s;
    font-size: 120%;
    padding-top: 2px;
}

.opaque-navbar.opaque {
    background-color: #404040 !important;
    height: 58px;
    transition: background-color .5s ease 0s;
}

 .navbar-brand {
    color: #ececec !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 2;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 100 !important;
    margin-right: 40px;
} 

li a {
    color: #ececec !important;
}

/* effect menu */
.nav-school:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--green);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-school:hover:after {
    transform: scaleX(1);
}

.nav-job:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--green);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-job:hover:after {
    transform: scaleX(1);
}

.nav-skills:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--green);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-skills:hover:after {
    transform: scaleX(1);
}

.nav-contact:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--green);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-contact:hover:after {
    transform: scaleX(1);
}

.navbar-toggler{
    border: none;
}

/* ////////////////////////////////////////////// HOME /////////////////////////////////////////////////// */

.home {
    height: 100vh;
    width: 100%;
    background-color: var(--color-fond);
}

.wrapper {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
}

h1.letters.name {
    margin-bottom: 1.1em;
}

.name {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 135px;
}

h1.ml7.text-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
}

.ml7 {
    position: relative;
    font-weight: 100;
}

.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
    font-size: 6rem;
}

/* Button contact */
.btnContact:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05) !important;
} 

.btnContact {
    border-radius: 1px;
    background: var(--green);
    border: none;
    padding: 14px 30px;
    color: var(--logo);
    font-size: 12px !important;
    letter-spacing: 4px;
    font-weight: 300;
    outline: 0 !important;
    transition: all 0.3s ease;
    outline: none;
  }

/* Buttons media */
.media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 38%;
    right: 1%;
    overflow: visible;
}

.logo-media {
    width: 20px;
    transition: all 0.3s ease;
}

.logo-media:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.media ul {
    list-style: none;
}

.media ul li {
    padding: 12px 0;
    cursor: pointer;
}

.copyright {
    position: absolute;
    z-index: 1;
    color: grey;
    font-size: 15px;
    right: 0;
    font-family: Roboto;
    font-weight: 100;
    margin-right: 2em;
    bottom: 20px;
}

/* ////////////////////////////////////////////// SCHOOL /////////////////////////////////////////////////// */
.bgimg-1 {
    background-image: url('./img/school.jpeg');
    background-position: center;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    opacity: 0.5;
}

.container-formations{
    height: auto;
}

.title-section {
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: 30px;
    font-family:  "Oswald", sans-serif;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center;
}

.years{
    font-weight: bold;
    color: var(--green);
}

.title-formation{
    font-weight: bold;
    color: var(--grey-title);
}

.logos-formation{
    width: 1rem;
}

.step{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 17px 0;
    background-color: rgb(248, 247, 247);
    -webkit-box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.19);
}

/* ////////////////////////////////////////////// EXPERIENCES /////////////////////////////////////////////////// */
.bgimg-2 {
    background-image: url('img/route.jpg');
    background-position: center;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
}
.box-timline{
    width: 100%;
    position: relative;
    padding: 80px 0 250px 0; 
}

.ligne{
    height: 1300px;
    margin-bottom: 30px !important;
    width: 8px;
    margin: 0 auto;
    background-color: var(--green);
}

.rond{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-fond);
    position: absolute;
    left:50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    -webkit-box-shadow: 9px 9px 31px -7px rgba(0,0,0,0.83);
    -moz-box-shadow: 9px 9px 31px -7px rgba(0,0,0,0.83);
    box-shadow: 9px 9px 31px -7px rgba(0,0,0,0.83);
}

.r1{margin-top: 0px;}

.r2{margin-top: 286px;}

.r3{margin-top: 600px;}

.r4{margin-top:940px;}

.experience-logo{
    width: 3rem;
}

.title-experience{
    display: flex;
    justify-content: space-between;
}

.box{
    position: absolute;
    color:#333;
    width: 30rem;
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.b1{
    margin-top: 0px;
    left: calc(50% - 580px)
}

.b2{
    margin-top: 286px;
    left: calc(50% + 110px)
}

.b3{
    margin-top: 600px;
    left: calc(50% - 580px)
}

.b4{
    margin-top:940px;
    left: calc(50% + 110px)
}

.box p:nth-child(3){
    color:  var(--color-fond);
    font-weight: 700;
    font-family: 'Lato', sans-serif !important;
}

.logo-entreprise-arc{
    width: 4rem;
}

.logo-entreprise-soupl{
    width: 8rem;
    height: auto;
}

.logo-entreprise-cebal{
    width: 8rem;
    height: auto;
}

.logo-entreprise-68{
    width: 3.5rem;
    height: auto;
}

/* ////////////////////////////////////////////// SKILLS /////////////////////////////////////////////////// */
.bgimg-3 {
    background-image: url('img/skills.jpeg');
    background-position: center;

    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
}

.choose {
    padding-top: 10%;
    padding-bottom: 7%;
    font: 17px "Oswald", sans-serif;
    letter-spacing: 10px;
    text-align: center;
  }

  .container-logos{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .logos-techno{
      width: 70px !important;
      height: 70px !important;
      margin: 0 20px;
      opacity: .7;
  }

  .social{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .social-logo{
      width: 2rem;
  }
  
  .social-header {
    font: 14px "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 7px;
  }
  
  .social-feature {
    font: 12px 'Montserrat', sans-serif;
    color: #404040;
    letter-spacing: 1.5px;
    line-height: 19px;
    text-align: left;
    padding-bottom: 20%;
  }
  
/* /////////////////////////////////// WORK //////////////////// */
.bgimg-5 {
    background-image: url('img/work.jpg');
    background-position: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}

.f1_container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    margin: 1.5rem 2rem 1.5rem 2rem;
    /* position: relative; */
    list-style: none;
    /* margin-bottom: 50px; */
    width: 300px;
    height: 270px;
    z-index: 1;
    perspective: 1000 !important;
    
}

.title-cards{
    text-align: center;
}

.img-cards{
    width: 300px;
    height: 230px;
}

.f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

.f1_container:hover .f1_card {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 7px !important;
    color: #49494e;
    backface-visibility: hidden;
    -webkit-box-shadow: 9px 9px 12px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 9px 9px 12px 0px rgba(0,0,0,0.19);
    box-shadow: 9px 9px 12px 0px rgba(0,0,0,0.19);
}
  
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
  }
  
  
/* /////////////////////////////////// CONTACT //////////////////// */
.bgimg-4 {
    background-image: url('img/contact.jpeg');
    background-position: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
}

.contact-title {
    padding-top: 5%;
    padding-bottom: 6%;
    font: 20px "Oswald", sans-serif;
    letter-spacing: 20px;
    text-align: center;
  }

  .signature{
      margin-left: 10rem;
      position: absolute;
  }

  .container-contact{
      justify-content: space-around;
  }

  .item-contact{
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .logo-contact{
      width: 2rem;
  }
  
  .contact-icons {
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    
  .contact-header {
    font: 14px "Doris", sans-serif;
    padding-top: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  
  .contact-feature {
    width: 100%;
    font: 12px 'Montserrat', sans-serif;
    color: #404040;
    letter-spacing: 1.5px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 20%;
  
  }

/* /////////////////////////////////////////////////////// MEDIA QUERY ///////////////////////////////////////////////////////// */
@media (max-width: 123px) { 
    .navbar-header {
    float: none;
    }
    .navbar-toggle {
    display: block;
    }
    .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
    display: none!important;
    }
    .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    }
    .navbar-nav>li {
    float: none;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-text {
    float: none;
    margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
    display: block!important;
    }
    .collapsing {
    overflow: hidden!important;
    }
    }

@media screen and (max-width:575px){
    .collapse {
        background-color: #222a35;
        display: inline-block;
        font-size: 1.5rem;
        margin: 15px -17px;
        width: 100% !important;
        padding-left: 20px;
    }
    .title-section{
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 8px;
    }
    .wrapper{
        left: 46%;
    }
    .name{
        font-size: 2rem;
        margin-bottom: 80px;
    }
    .ml7 .letter{
        font-size: 2.3rem;
    }

    .media{
        top: 13%;
    }
    .step{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .logos-techno{
        width: 40px !important;
        height: 40px !important;
        margin: 5px 5px;
        opacity: .7;
    }

    .logo-entreprise-cebal{
        width: 5rem;
        height: 2rem;
    }

    .logo-entreprise-68{
        width: 3rem;
        height: auto;
    }
    .bgimg-1 {
        background-image: url('img/schoolm.jpg');
        /* width: 100%; */
        min-height: 400px;
    }
    .bgimg-2 {
        background-image: url('img/routem.jpg');
        width: 100%;
        min-height: 400px;
    }
    .bgimg-3 {
        background-image: url('img/skillsm.jpg');

        width: 100%;
        min-height: 400px;
    }
    .bgimg-4 {
        background-image: url('img/contactm.jpg');

        width: 100%;
        min-height: 400px;
    }

    .bgimg-5 {
        background-image: url('img/workm.jpg');

        width: 100%;
        min-height: 400px;
    }
}

@media screen and (max-width: 1300px) {

    .ligne {
        display: none;
    }
    .rond {
        display: none;
    }
    .box {
        position: relative;
        left: 0;
        margin-top:10px;
    }
    

}

